In [2]:
import pandas as pd

In [9]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Student ID</th>\n",
       "      <th>student_name</th>\n",
       "      <th>gender</th>\n",
       "      <th>grade</th>\n",
       "      <th>school_name</th>\n",
       "      <th>reading_score</th>\n",
       "      <th>math_score</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0</td>\n",
       "      <td>Paul Bradley</td>\n",
       "      <td>M</td>\n",
       "      <td>9th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>66</td>\n",
       "      <td>79</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1</td>\n",
       "      <td>Victor Smith</td>\n",
       "      <td>M</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>94</td>\n",
       "      <td>61</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Kevin Rodriguez</td>\n",
       "      <td>M</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>90</td>\n",
       "      <td>60</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>3</td>\n",
       "      <td>Richard Scott</td>\n",
       "      <td>M</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>67</td>\n",
       "      <td>58</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>4</td>\n",
       "      <td>Bonnie Ray</td>\n",
       "      <td>F</td>\n",
       "      <td>9th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>97</td>\n",
       "      <td>84</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>5</td>\n",
       "      <td>Bryan Miranda</td>\n",
       "      <td>M</td>\n",
       "      <td>9th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>94</td>\n",
       "      <td>94</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>6</td>\n",
       "      <td>Sheena Carter</td>\n",
       "      <td>F</td>\n",
       "      <td>11th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>82</td>\n",
       "      <td>80</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>7</td>\n",
       "      <td>Nicole Baker</td>\n",
       "      <td>F</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>96</td>\n",
       "      <td>69</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>8</td>\n",
       "      <td>Michael Roth</td>\n",
       "      <td>M</td>\n",
       "      <td>10th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>95</td>\n",
       "      <td>87</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>9</td>\n",
       "      <td>Matthew Greene</td>\n",
       "      <td>M</td>\n",
       "      <td>10th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>96</td>\n",
       "      <td>84</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Student ID     student_name gender grade        school_name  reading_score  \\\n",
       "0           0     Paul Bradley      M   9th  Huang High School             66   \n",
       "1           1     Victor Smith      M  12th  Huang High School             94   \n",
       "2           2  Kevin Rodriguez      M  12th  Huang High School             90   \n",
       "3           3    Richard Scott      M  12th  Huang High School             67   \n",
       "4           4       Bonnie Ray      F   9th  Huang High School             97   \n",
       "5           5    Bryan Miranda      M   9th  Huang High School             94   \n",
       "6           6    Sheena Carter      F  11th  Huang High School             82   \n",
       "7           7     Nicole Baker      F  12th  Huang High School             96   \n",
       "8           8     Michael Roth      M  10th  Huang High School             95   \n",
       "9           9   Matthew Greene      M  10th  Huang High School             96   \n",
       "\n",
       "   math_score  \n",
       "0          79  \n",
       "1          61  \n",
       "2          60  \n",
       "3          58  \n",
       "4          84  \n",
       "5          94  \n",
       "6          80  \n",
       "7          69  \n",
       "8          87  \n",
       "9          84  "
      ]
     },
     "execution_count": 1,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Dependencies and Setup\n",
    "import pandas as pd\n",
    "\n",
    "# File to Load (Remember to change the path if needed.)\n",
    "school_data_to_load = \"Resources/schools_complete.csv\"\n",
    "student_data_to_load = \"Resources/students_complete.csv\"\n",
    "\n",
    "# Read the School Data and Student Data and store into a Pandas DataFrame\n",
    "school_data_df = pd.read_csv(school_data_to_load)\n",
    "student_data_df = pd.read_csv(student_data_to_load)\n",
    "\n",
    "# Cleaning Student Names and Replacing Substrings in a Python String\n",
    "# Add each prefix and suffix to remove to a list.\n",
    "prefixes_suffixes = [\"Dr. \", \"Mr. \",\"Ms. \", \"Mrs. \", \"Miss \", \" MD\", \" DDS\", \" DVM\", \" PhD\"]\n",
    "\n",
    "# Iterate through the words in the \"prefixes_suffixes\" list and replace them with an empty space, \"\".\n",
    "for word in prefixes_suffixes:\n",
    "    student_data_df[\"student_name\"] = student_data_df[\"student_name\"].str.replace(word,\"\")\n",
    "\n",
    "# Check names.\n",
    "student_data_df.head(10)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Deliverable 1: Replace the reading and math scores.\n",
    "\n",
    "### Replace the 9th grade reading and math scores at Thomas High School with NaN."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Install numpy using conda install numpy or pip install numpy. \n",
    "# Step 1. Import numpy as np.\n",
    "import numpy as np"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.\n",
    "student_data_df.loc[]\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [],
   "source": [
    "#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [],
   "source": [
    "#  Step 4. Check the student data for NaN's. \n",
    "\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Deliverable 2 : Repeat the school district analysis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### District Summary"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Student ID</th>\n",
       "      <th>student_name</th>\n",
       "      <th>gender</th>\n",
       "      <th>grade</th>\n",
       "      <th>school_name</th>\n",
       "      <th>reading_score</th>\n",
       "      <th>math_score</th>\n",
       "      <th>School ID</th>\n",
       "      <th>type</th>\n",
       "      <th>size</th>\n",
       "      <th>budget</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0</td>\n",
       "      <td>Paul Bradley</td>\n",
       "      <td>M</td>\n",
       "      <td>9th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>66</td>\n",
       "      <td>79</td>\n",
       "      <td>0</td>\n",
       "      <td>District</td>\n",
       "      <td>2917</td>\n",
       "      <td>1910635</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1</td>\n",
       "      <td>Victor Smith</td>\n",
       "      <td>M</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>94</td>\n",
       "      <td>61</td>\n",
       "      <td>0</td>\n",
       "      <td>District</td>\n",
       "      <td>2917</td>\n",
       "      <td>1910635</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Kevin Rodriguez</td>\n",
       "      <td>M</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>90</td>\n",
       "      <td>60</td>\n",
       "      <td>0</td>\n",
       "      <td>District</td>\n",
       "      <td>2917</td>\n",
       "      <td>1910635</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>3</td>\n",
       "      <td>Richard Scott</td>\n",
       "      <td>M</td>\n",
       "      <td>12th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>67</td>\n",
       "      <td>58</td>\n",
       "      <td>0</td>\n",
       "      <td>District</td>\n",
       "      <td>2917</td>\n",
       "      <td>1910635</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>4</td>\n",
       "      <td>Bonnie Ray</td>\n",
       "      <td>F</td>\n",
       "      <td>9th</td>\n",
       "      <td>Huang High School</td>\n",
       "      <td>97</td>\n",
       "      <td>84</td>\n",
       "      <td>0</td>\n",
       "      <td>District</td>\n",
       "      <td>2917</td>\n",
       "      <td>1910635</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Student ID     student_name gender grade        school_name  reading_score  \\\n",
       "0           0     Paul Bradley      M   9th  Huang High School             66   \n",
       "1           1     Victor Smith      M  12th  Huang High School             94   \n",
       "2           2  Kevin Rodriguez      M  12th  Huang High School             90   \n",
       "3           3    Richard Scott      M  12th  Huang High School             67   \n",
       "4           4       Bonnie Ray      F   9th  Huang High School             97   \n",
       "\n",
       "   math_score  School ID      type  size   budget  \n",
       "0          79          0  District  2917  1910635  \n",
       "1          61          0  District  2917  1910635  \n",
       "2          60          0  District  2917  1910635  \n",
       "3          58          0  District  2917  1910635  \n",
       "4          84          0  District  2917  1910635  "
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Combine the data into a single dataset\n",
    "school_data_complete_df = pd.merge(student_data_df, school_data_df, how=\"left\", on=[\"school_name\", \"school_name\"])\n",
    "school_data_complete_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate the Totals (Schools and Students)\n",
    "school_count = len(school_data_complete_df[\"school_name\"].unique())\n",
    "student_count = school_data_complete_df[\"Student ID\"].count()\n",
    "\n",
    "# Calculate the Total Budget\n",
    "total_budget = school_data_df[\"budget\"].sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate the Average Scores using the \"clean_student_data\".\n",
    "average_reading_score = school_data_complete_df[\"reading_score\"].mean()\n",
    "average_math_score = school_data_complete_df[\"math_score\"].mean()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 1. Get the number of students that are in ninth grade at Thomas High School.\n",
    "# These students have no grades. \n",
    "\n",
    "\n",
    "# Get the total student count \n",
    "student_count = school_data_complete_df[\"Student ID\"].count()\n",
    "\n",
    "\n",
    "# Step 2. Subtract the number of students that are in ninth grade at \n",
    "# Thomas High School from the total student count to get the new total student count.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate the passing rates using the \"clean_student_data\".\n",
    "passing_math_count = school_data_complete_df[(school_data_complete_df[\"math_score\"] >= 70)].count()[\"student_name\"]\n",
    "passing_reading_count = school_data_complete_df[(school_data_complete_df[\"reading_score\"] >= 70)].count()[\"student_name\"]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 3. Calculate the passing percentages with the new total student count.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate the students who passed both reading and math.\n",
    "passing_math_reading = school_data_complete_df[(school_data_complete_df[\"math_score\"] >= 70)\n",
    "                                               & (school_data_complete_df[\"reading_score\"] >= 70)]\n",
    "\n",
    "# Calculate the number of students that passed both reading and math.\n",
    "overall_passing_math_reading_count = passing_math_reading[\"student_name\"].count()\n",
    "\n",
    "\n",
    "# Step 4.Calculate the overall passing percentage with new total student count.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create a DataFrame\n",
    "district_summary_df = pd.DataFrame(\n",
    "          [{\"Total Schools\": school_count, \n",
    "          \"Total Students\": student_count, \n",
    "          \"Total Budget\": total_budget,\n",
    "          \"Average Math Score\": average_math_score, \n",
    "          \"Average Reading Score\": average_reading_score,\n",
    "          \"% Passing Math\": passing_math_percentage,\n",
    "         \"% Passing Reading\": passing_reading_percentage,\n",
    "        \"% Overall Passing\": overall_passing_percentage}])\n",
    "\n",
    "\n",
    "\n",
    "# Format the \"Total Students\" to have the comma for a thousands separator.\n",
    "district_summary_df[\"Total Students\"] = district_summary_df[\"Total Students\"].map(\"{:,}\".format)\n",
    "# Format the \"Total Budget\" to have the comma for a thousands separator, a decimal separator and a \"$\".\n",
    "district_summary_df[\"Total Budget\"] = district_summary_df[\"Total Budget\"].map(\"${:,.2f}\".format)\n",
    "# Format the columns.\n",
    "district_summary_df[\"Average Math Score\"] = district_summary_df[\"Average Math Score\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"Average Reading Score\"] = district_summary_df[\"Average Reading Score\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"% Passing Math\"] = district_summary_df[\"% Passing Math\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"% Passing Reading\"] = district_summary_df[\"% Passing Reading\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"% Overall Passing\"] = district_summary_df[\"% Overall Passing\"].map(\"{:.1f}\".format)\n",
    "\n",
    "# Display the data frame\n",
    "district_summary_df"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "##  School Summary"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Determine the School Type\n",
    "per_school_types = school_data_df.set_index([\"school_name\"])[\"type\"]\n",
    "\n",
    "# Calculate the total student count.\n",
    "per_school_counts = school_data_complete_df[\"school_name\"].value_counts()\n",
    "\n",
    "# Calculate the total school budget and per capita spending\n",
    "per_school_budget = school_data_complete_df.groupby([\"school_name\"]).mean()[\"budget\"]\n",
    "# Calculate the per capita spending.\n",
    "per_school_capita = per_school_budget / per_school_counts\n",
    "\n",
    "# Calculate the average test scores.\n",
    "per_school_math = school_data_complete_df.groupby([\"school_name\"]).mean()[\"math_score\"]\n",
    "per_school_reading = school_data_complete_df.groupby([\"school_name\"]).mean()[\"reading_score\"]\n",
    "\n",
    "# Calculate the passing scores by creating a filtered DataFrame.\n",
    "per_school_passing_math = school_data_complete_df[(school_data_complete_df[\"math_score\"] >= 70)]\n",
    "per_school_passing_reading = school_data_complete_df[(school_data_complete_df[\"reading_score\"] >= 70)]\n",
    "\n",
    "# Calculate the number of students passing math and passing reading by school.\n",
    "per_school_passing_math = per_school_passing_math.groupby([\"school_name\"]).count()[\"student_name\"]\n",
    "per_school_passing_reading = per_school_passing_reading.groupby([\"school_name\"]).count()[\"student_name\"]\n",
    "\n",
    "# Calculate the percentage of passing math and reading scores per school.\n",
    "per_school_passing_math = per_school_passing_math / per_school_counts * 100\n",
    "per_school_passing_reading = per_school_passing_reading / per_school_counts * 100\n",
    "\n",
    "# Calculate the students who passed both reading and math.\n",
    "per_passing_math_reading = school_data_complete_df[(school_data_complete_df[\"reading_score\"] >= 70)\n",
    "                                               & (school_data_complete_df[\"math_score\"] >= 70)]\n",
    "\n",
    "# Calculate the number of students passing math and passing reading by school.\n",
    "per_passing_math_reading = per_passing_math_reading.groupby([\"school_name\"]).count()[\"student_name\"]\n",
    "\n",
    "# Calculate the percentage of passing math and reading scores per school.\n",
    "per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create the DataFrame\n",
    "per_school_summary_df = pd.DataFrame({\n",
    "    \"School Type\": per_school_types,\n",
    "    \"Total Students\": per_school_counts,\n",
    "    \"Total School Budget\": per_school_budget,\n",
    "    \"Per Student Budget\": per_school_capita,\n",
    "    \"Average Math Score\": per_school_math,\n",
    "    \"Average Reading Score\": per_school_reading,\n",
    "    \"% Passing Math\": per_school_passing_math,\n",
    "    \"% Passing Reading\": per_school_passing_reading,\n",
    "    \"% Overall Passing\": per_overall_passing_percentage})\n",
    "\n",
    "\n",
    "# per_school_summary_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Format the Total School Budget and the Per Student Budget\n",
    "per_school_summary_df[\"Total School Budget\"] = per_school_summary_df[\"Total School Budget\"].map(\"${:,.2f}\".format)\n",
    "per_school_summary_df[\"Per Student Budget\"] = per_school_summary_df[\"Per Student Budget\"].map(\"${:,.2f}\".format)\n",
    "\n",
    "# Display the data frame\n",
    "per_school_summary_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 6. Get all the students passing math from THS\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 7. Get all the students passing reading from THS\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 8. Get all the students passing math and reading from THS\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. \n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "metadata": {},
   "outputs": [],
   "source": [
    "# per_school_summary_df"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## High and Low Performing Schools "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "metadata": {
    "scrolled": True
   },
   "outputs": [],
   "source": [
    "# Sort and show top five schools.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 30,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Sort and show top five schools.\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {
    "collapsed": True
   },
   "source": [
    "## Math and Reading Scores by Grade"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create a Series of scores by grade levels using conditionals.\n",
    "\n",
    "\n",
    "# Group each school Series by the school name for the average math score.\n",
    "\n",
    "\n",
    "# Group each school Series by the school name for the average reading score.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 32,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Combine each Series for average math scores by school into single data frame.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Combine each Series for average reading scores by school into single data frame.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Format each grade column.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 35,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Remove the index.\n",
    "\n",
    "\n",
    "# Display the data frame\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "metadata": {},
   "outputs": [],
   "source": [
    "## Remove the index.\n",
    "\n",
    "\n",
    "# Display the data frame\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Scores by School Spending"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Establish the spending bins and group names.\n",
    "\n",
    "\n",
    "# Categorize spending based on the bins.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate averages for the desired columns. \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create the DataFrame\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Format the DataFrame \n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Scores by School Size"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Establish the bins.\n",
    "\n",
    "# Categorize spending based on the bins.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate averages for the desired columns. \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 43,
   "metadata": {
    "scrolled": True
   },
   "outputs": [],
   "source": [
    "# Assemble into DataFrame. \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 44,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Format the DataFrame  \n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Scores by School Type"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 45,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Calculate averages for the desired columns. \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 46,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Assemble into DataFrame. \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 47,
   "metadata": {},
   "outputs": [],
   "source": [
    "# # Format the DataFrame \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": None,
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "anaconda-cloud": {},
  "kernel_info": {
   "name": "python3"
  },
  "kernelspec": {
   "display_name": "PythonData",
   "language": "python",
   "name": "pythondata"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.6.10"
  },
  "nteract": {
   "version": "0.8.4"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 1
}

{'cells': [{'cell_type': 'code',
   'execution_count': 1,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Student ID</th>\n',
       '      <th>student_name</th>\n',
       '      <th>gender</th>\n',
       '      <th>grade</th>\n',
       '      <th>school_name</th>\n',
       '      <th>reading_score</th>\n',
       '      <th>math_score</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>0</td>\n',
       '      <td>Paul Bradley</td>\n',
       '      <td>M</td>\n',
       '      <td>9th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>66</td>\n',
       '      <td>79</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>1</td>\n',
       '      <td>Victor Smith</td>\n',
       '      <td>M</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>94</td>\n',
       '      <td>61</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>2</td>\n',
       '      <td>Kevin Rodriguez</td>\n',
       '      <td>M</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>90</td>\n',
       '      <td>60</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>3</td>\n',
       '      <td>Richard Scott</td>\n',
       '      <td>M</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>67</td>\n',
       '      <td>58</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>4</td>\n',
       '      <td>Bonnie Ray</td>\n',
       '      <td>F</td>\n',
       '      <td>9th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>97</td>\n',
       '      <td>84</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>5</th>\n',
       '      <td>5</td>\n',
       '      <td>Bryan Miranda</td>\n',
       '      <td>M</td>\n',
       '      <td>9th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>94</td>\n',
       '      <td>94</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>6</th>\n',
       '      <td>6</td>\n',
       '      <td>Sheena Carter</td>\n',
       '      <td>F</td>\n',
       '      <td>11th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>82</td>\n',
       '      <td>80</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>7</th>\n',
       '      <td>7</td>\n',
       '      <td>Nicole Baker</td>\n',
       '      <td>F</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>96</td>\n',
       '      <td>69</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>8</th>\n',
       '      <td>8</td>\n',
       '      <td>Michael Roth</td>\n',
       '      <td>M</td>\n',
       '      <td>10th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>95</td>\n',
       '      <td>87</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>9</th>\n',
       '      <td>9</td>\n',
       '      <td>Matthew Greene</td>\n',
       '      <td>M</td>\n',
       '      <td>10th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>96</td>\n',
       '      <td>84</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['   Student ID     student_name gender grade        school_name  reading_score  \\\n',
       '0           0     Paul Bradley      M   9th  Huang High School             66   \n',
       '1           1     Victor Smith      M  12th  Huang High School             94   \n',
       '2           2  Kevin Rodriguez      M  12th  Huang High School             90   \n',
       '3           3    Richard Scott      M  12th  Huang High School             67   \n',
       '4           4       Bonnie Ray      F   9th  Huang High School             97   \n',
       '5           5    Bryan Miranda      M   9th  Huang High School             94   \n',
       '6           6    Sheena Carter      F  11th  Huang High School             82   \n',
       '7           7     Nicole Baker      F  12th  Huang High School             96   \n',
       '8           8     Michael Roth      M  10th  Huang High School             95   \n',
       '9           9   Matthew Greene      M  10th  Huang High School             96   \n',
       '\n',
       '   math_score  \n',
       '0          79  \n',
       '1          61  \n',
       '2          60  \n',
       '3          58  \n',
       '4          84  \n',
       '5          94  \n',
       '6          80  \n',
       '7          69  \n',
       '8          87  \n',
       '9          84  ']},
     'execution_count': 1,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['# Dependencies and Setup\n',
    'import pandas as pd\n',
    '\n',
    '# File to Load (Remember to change the path if needed.)\n',
    'school_data_to_load = "Resources/schools_complete.csv"\n',
    'student_data_to_load = "Resources/students_complete.csv"\n',
    '\n',
    '# Read the School Data and Student Data and store into a Pandas DataFrame\n',
    'school_data_df = pd.read_csv(school_data_to_load)\n',
    'student_data_df = pd.read_csv(student_data_to_load)\n',
    '\n',
    '# Cleaning Student Names and Replacing Substrings in a Python String\n',
    '# Add each prefix and suffix to remove to a list.\n',
    'prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]\n',
    '\n',
    '# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".\n',
    'for word in prefixes_suffixes:\n',
    '    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")\n',
    '\n',
    '# Check names.\n',
    'student_data_df.head(10)']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Deliverable 1: Replace the reading and math scores.\n',
    '\n',
    '### Replace the 9th grade reading and math scores at Thomas High School with NaN.']},
  {'cell_type': 'code',
   'execution_count': 2,
   'metadata': {},
   'outputs': [],
   'source': ['# Install numpy using conda install numpy or pip install numpy. \n',
    '# Step 1. Import numpy as np.\n',
    'import numpy as np']},
  {'cell_type': 'code',
   'execution_count': 3,
   'metadata': {},
   'outputs': [],
   'source': ['# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.\n',
    'student_data_df.loc[]\n',
    '\n']},
  {'cell_type': 'code',
   'execution_count': 4,
   'metadata': {},
   'outputs': [],
   'source': ['#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.\n']},
  {'cell_type': 'code',
   'execution_count': 5,
   'metadata': {},
   'outputs': [],
   'source': ["#  Step 4. Check the student data for NaN's. \n", '\n']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Deliverable 2 : Repeat the school district analysis']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['### District Summary']},
  {'cell_type': 'code',
   'execution_count': 6,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Student ID</th>\n',
       '      <th>student_name</th>\n',
       '      <th>gender</th>\n',
       '      <th>grade</th>\n',
       '      <th>school_name</th>\n',
       '      <th>reading_score</th>\n',
       '      <th>math_score</th>\n',
       '      <th>School ID</th>\n',
       '      <th>type</th>\n',
       '      <th>size</th>\n',
       '      <th>budget</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>0</td>\n',
       '      <td>Paul Bradley</td>\n',
       '      <td>M</td>\n',
       '      <td>9th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>66</td>\n',
       '      <td>79</td>\n',
       '      <td>0</td>\n',
       '      <td>District</td>\n',
       '      <td>2917</td>\n',
       '      <td>1910635</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>1</td>\n',
       '      <td>Victor Smith</td>\n',
       '      <td>M</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>94</td>\n',
       '      <td>61</td>\n',
       '      <td>0</td>\n',
       '      <td>District</td>\n',
       '      <td>2917</td>\n',
       '      <td>1910635</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>2</td>\n',
       '      <td>Kevin Rodriguez</td>\n',
       '      <td>M</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>90</td>\n',
       '      <td>60</td>\n',
       '      <td>0</td>\n',
       '      <td>District</td>\n',
       '      <td>2917</td>\n',
       '      <td>1910635</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>3</td>\n',
       '      <td>Richard Scott</td>\n',
       '      <td>M</td>\n',
       '      <td>12th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>67</td>\n',
       '      <td>58</td>\n',
       '      <td>0</td>\n',
       '      <td>District</td>\n',
       '      <td>2917</td>\n',
       '      <td>1910635</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>4</td>\n',
       '      <td>Bonnie Ray</td>\n',
       '      <td>F</td>\n',
       '      <td>9th</td>\n',
       '      <td>Huang High School</td>\n',
       '      <td>97</td>\n',
       '      <td>84</td>\n',
       '      <td>0</td>\n',
       '      <td>District</td>\n',
       '      <td>2917</td>\n',
       '      <td>1910635</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['   Student ID     student_name gender grade        school_name  reading_score  \\\n',
       '0           0     Paul Bradley      M   9th  Huang High School             66   \n',
       '1           1     Victor Smith      M  12th  Huang High School             94   \n',
       '2           2  Kevin Rodriguez      M  12th  Huang High School             90   \n',
       '3           3    Richard Scott      M  12th  Huang High School             67   \n',
       '4           4       Bonnie Ray      F   9th  Huang High School             97   \n',
       '\n',
       '   math_score  School ID      type  size   budget  \n',
       '0          79          0  District  2917  1910635  \n',
       '1          61          0  District  2917  1910635  \n',
       '2          60          0  District  2917  1910635  \n',
       '3          58          0  District  2917  1910635  \n',
       '4          84          0  District  2917  1910635  ']},
     'execution_count': 6,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['# Combine the data into a single dataset\n',
    'school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])\n',
    'school_data_complete_df.head()']},
  {'cell_type': 'code',
   'execution_count': 7,
   'metadata': {},
   'outputs': [],
   'source': ['# Calculate the Totals (Schools and Students)\n',
    'school_count = len(school_data_complete_df["school_name"].unique())\n',
    'student_count = school_data_complete_df["Student ID"].count()\n',
    '\n',
    '# Calculate the Total Budget\n',
    'total_budget = school_data_df["budget"].sum()']},
  {'cell_type': 'code',
   'execution_count': 8,
   'metadata': {},
   'outputs': [],
   'source': ['# Calculate the Average Scores using the "clean_student_data".\n',
    'average_reading_score = school_data_complete_df["reading_score"].mean()\n',
    'average_math_score = school_data_complete_df["math_score"].mean()']},
  {'cell_type': 'code',
   'execution_count': 9,
   'metadata': {},
   'outputs': [],
   'source': ['# Step 1. Get the number of students that are in ninth grade at Thomas High School.\n',
    '# These students have no grades. \n',
    '\n',
    '\n',
    '# Get the total student count \n',
    'student_count = school_data_complete_df["Student ID"].count()\n',
    '\n',
    '\n',
    '# Step 2. Subtract the number of students that are in ninth grade at \n',
    '# Thomas High School from the total student count to get the new total student count.\n']},
  {'cell_type': 'code',
   'execution_count': 10,
   'metadata': {},
   'outputs': [],
   'source': ['# Calculate the passing rates using the "clean_student_data".\n',
    'passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]\n',
    'passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]']},
  {'cell_type': 'code',
   'execution_count': 11,
   'metadata': {},
   'outputs': [],
   'source': ['# Step 3. Calculate the passing percentages with the new total student count.\n']},
  {'cell_type': 'code',
   'execution_count': 12,
   'metadata': {},
   'outputs': [],
   'source': ['# Calculate the students who passed both reading and math.\n',
    'passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)\n',
    '                                               & (school_data_complete_df["reading_score"] >= 70)]\n',
    '\n',
    '# Calculate the number of students that passed both reading and math.\n',
    'overall_passing_math_reading_count = passing_math_reading["student_name"].count()\n',
    '\n',
    '\n',
    '# Step 4.Calculate the overall passing percentage with new total student count.\n']},
  {'cell_type': 'code',
   'execution_count': 14,
   'metadata': {},
   'outputs': [],
   'source': ['# Create a DataFrame\n',
    'district_summary_df = pd.DataFrame(\n',
    '          [{"Total Schools": school_count, \n',
    '          "Total Students": student_count, \n',
    '          "Total Budget": total_budget,\n',
    '          "Average Math Score": average_math_score, \n',
    '          "Average Reading Score": average_reading_score,\n',
    '          "% Passing Math": passing_math_percentage,\n',
    '         "% Passing Reading": passing_reading_percentage,\n',
    '        "% Overall Passing": overall_passing_percentage}])\n',
    '\n',
    '\n',
    '\n',
    '# Format the "Total Students" to have the comma for a thousands separator.\n',
    'district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)\n',
    '# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".\n',
    'district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)\n',
    '# Format the columns.\n',
    'district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)\n',
    'district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)\n',
    'district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)\n',
    'district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)\n',
    'district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)\n',
    '\n',
    '# Display the data frame\n',
    'district_summary_df']},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['##  School Summary']},
  {'cell_type': 'code',
   'execution_count': 15,
   'metadata': {},
   'outputs': [],
   'source': ['# Determine the School Type\n',
    'per_school_types = school_data_df.set_index(["school_name"])["type"]\n',
    '\n',
    '# Calculate the total student count.\n',
    'per_school_counts = school_data_complete_df["school_name"].value_counts()\n',
    '\n',
    '# Calculate the total school budget and per capita spending\n',
    'per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]\n',
    '# Calculate the per capita spending.\n',
    'per_school_capita = per_school_budget / per_school_counts\n',
    '\n',
    '# Calculate the average test scores.\n',
    'per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]\n',
    'per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]\n',
    '\n',
    '# Calculate the passing scores by creating a filtered DataFrame.\n',
    'per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]\n',
    'per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]\n',
    '\n',
    '# Calculate the number of students passing math and passing reading by school.\n',
    'per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]\n',
    'per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]\n',
    '\n',
    '# Calculate the percentage of passing math and reading scores per school.\n',
    'per_school_passing_math = per_school_passing_math / per_school_counts * 100\n',
    'per_school_passing_reading = per_school_passing_reading / per_school_counts * 100\n',
    '\n',
    '# Calculate the students who passed both reading and math.\n',
    'per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)\n',
    '                                               & (school_data_complete_df["math_score"] >= 70)]\n',
    '\n',
    '# Calculate the number of students passing math and passing reading by school.\n',
    'per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]\n',
    '\n',
    '# Calculate the percentage of passing math and reading scores per school.\n',
    'per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100']},
  {'cell_type': 'code',
   'execution_count': 16,
   'metadata': {},
   'outputs': [],
   'source': ['# Create the DataFrame\n',
    'per_school_summary_df = pd.DataFrame({\n',
    '    "School Type": per_school_types,\n',
    '    "Total Students": per_school_counts,\n',
    '    "Total School Budget": per_school_budget,\n',
    '    "Per Student Budget": per_school_capita,\n',
    '    "Average Math Score": per_school_math,\n',
    '    "Average Reading Score": per_school_reading,\n',